/*
 * Marketcheck Cars API
 * <b>Access the New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The data is sourced from online listings by over 44,000 Car dealers in US. At any time, there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US. We use this API at the back for our website <a href='https://www.marketcheck.com' target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5> Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>
 *
 * OpenAPI spec version: 1.0.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package marketcheck.cars.api.client.api;

import marketcheck.cars.api.client.ApiCallback;
import marketcheck.cars.api.client.ApiClient;
import marketcheck.cars.api.client.ApiException;
import marketcheck.cars.api.client.ApiResponse;
import marketcheck.cars.api.client.Configuration;
import marketcheck.cars.api.client.Pair;
import marketcheck.cars.api.client.ProgressRequestBody;
import marketcheck.cars.api.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;
import marketcheck.cars.api..client.model.Error;
import marketcheck.cars.api..client.model.HistoricalListing;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HistoryApi {
    private ApiClient apiClient;

    public HistoryApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HistoryApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for history
     * @param vin The VIN to identify the car to fetch the listing history. Must be a valid 17 char VIN (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param fields List of fields to fetch, in case the default fields list in the response is to be trimmed down (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param page Page number to fetch the results for the given criteria. Default is 1. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call historyCall(String vin, String apiKey, String fields, Integer rows, BigDecimal page, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/history/{vin}"
            .replaceAll("\\{" + "vin" + "\\}", apiClient.escapeString(vin.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (rows != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rows", rows));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call historyValidateBeforeCall(String vin, String apiKey, String fields, Integer rows, BigDecimal page, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'vin' is set
        if (vin == null) {
            throw new ApiException("Missing the required parameter 'vin' when calling history(Async)");
        }
        

        com.squareup.okhttp.Call call = historyCall(vin, apiKey, fields, rows, page, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a cars online listing history
     * The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
     * @param vin The VIN to identify the car to fetch the listing history. Must be a valid 17 char VIN (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param fields List of fields to fetch, in case the default fields list in the response is to be trimmed down (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param page Page number to fetch the results for the given criteria. Default is 1. (optional)
     * @return List&lt;HistoricalListing&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<HistoricalListing> history(String vin, String apiKey, String fields, Integer rows, BigDecimal page) throws ApiException {
        ApiResponse<List<HistoricalListing>> resp = historyWithHttpInfo(vin, apiKey, fields, rows, page);
        return resp.getData();
    }

    /**
     * Get a cars online listing history
     * The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
     * @param vin The VIN to identify the car to fetch the listing history. Must be a valid 17 char VIN (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param fields List of fields to fetch, in case the default fields list in the response is to be trimmed down (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param page Page number to fetch the results for the given criteria. Default is 1. (optional)
     * @return ApiResponse&lt;List&lt;HistoricalListing&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<HistoricalListing>> historyWithHttpInfo(String vin, String apiKey, String fields, Integer rows, BigDecimal page) throws ApiException {
        com.squareup.okhttp.Call call = historyValidateBeforeCall(vin, apiKey, fields, rows, page, null, null);
        Type localVarReturnType = new TypeToken<List<HistoricalListing>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a cars online listing history (asynchronously)
     * The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
     * @param vin The VIN to identify the car to fetch the listing history. Must be a valid 17 char VIN (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param fields List of fields to fetch, in case the default fields list in the response is to be trimmed down (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param page Page number to fetch the results for the given criteria. Default is 1. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call historyAsync(String vin, String apiKey, String fields, Integer rows, BigDecimal page, final ApiCallback<List<HistoricalListing>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = historyValidateBeforeCall(vin, apiKey, fields, rows, page, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<HistoricalListing>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
