/*
 * Marketcheck Cars API
 * <b>Access the New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The data is sourced from online listings by over 44,000 Car dealers in US. At any time, there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US. We use this API at the back for our website <a href='https://www.marketcheck.com' target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5> Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>
 *
 * OpenAPI spec version: 1.0.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package marketcheck.cars.api.client.api;

import marketcheck.cars.api.client.ApiCallback;
import marketcheck.cars.api.client.ApiClient;
import marketcheck.cars.api.client.ApiException;
import marketcheck.cars.api.client.ApiResponse;
import marketcheck.cars.api.client.Configuration;
import marketcheck.cars.api.client.Pair;
import marketcheck.cars.api.client.ProgressRequestBody;
import marketcheck.cars.api.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import marketcheck.cars.api..client.model.Error;
import marketcheck.cars.api..client.model.Listing;
import marketcheck.cars.api..client.model.ListingExtraAttributes;
import marketcheck.cars.api..client.model.ListingMedia;
import marketcheck.cars.api..client.model.ListingVDP;
import marketcheck.cars.api..client.model.SearchResponse;
import marketcheck.cars.api..client.model.VinReport;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ListingsApi {
    private ApiClient apiClient;

    public ListingsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ListingsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getListing
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getListingCall(String id, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/listing/{id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getListingValidateBeforeCall(String id, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getListing(Async)");
        }
        

        com.squareup.okhttp.Call call = getListingCall(id, apiKey, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Listing by id
     * Get a particular listing by its id
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return Listing
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Listing getListing(String id, String apiKey) throws ApiException {
        ApiResponse<Listing> resp = getListingWithHttpInfo(id, apiKey);
        return resp.getData();
    }

    /**
     * Listing by id
     * Get a particular listing by its id
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return ApiResponse&lt;Listing&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Listing> getListingWithHttpInfo(String id, String apiKey) throws ApiException {
        com.squareup.okhttp.Call call = getListingValidateBeforeCall(id, apiKey, null, null);
        Type localVarReturnType = new TypeToken<Listing>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Listing by id (asynchronously)
     * Get a particular listing by its id
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getListingAsync(String id, String apiKey, final ApiCallback<Listing> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getListingValidateBeforeCall(id, apiKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Listing>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getListingExtra
     * @param id Listing id to get all the long text listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getListingExtraCall(String id, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/listing/{id}/extra"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getListingExtraValidateBeforeCall(String id, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getListingExtra(Async)");
        }
        

        com.squareup.okhttp.Call call = getListingExtraCall(id, apiKey, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Long text Listings attributes for Listing with the given id
     * Get listing options, features, seller comments
     * @param id Listing id to get all the long text listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return ListingExtraAttributes
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ListingExtraAttributes getListingExtra(String id, String apiKey) throws ApiException {
        ApiResponse<ListingExtraAttributes> resp = getListingExtraWithHttpInfo(id, apiKey);
        return resp.getData();
    }

    /**
     * Long text Listings attributes for Listing with the given id
     * Get listing options, features, seller comments
     * @param id Listing id to get all the long text listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return ApiResponse&lt;ListingExtraAttributes&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ListingExtraAttributes> getListingExtraWithHttpInfo(String id, String apiKey) throws ApiException {
        com.squareup.okhttp.Call call = getListingExtraValidateBeforeCall(id, apiKey, null, null);
        Type localVarReturnType = new TypeToken<ListingExtraAttributes>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Long text Listings attributes for Listing with the given id (asynchronously)
     * Get listing options, features, seller comments
     * @param id Listing id to get all the long text listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getListingExtraAsync(String id, String apiKey, final ApiCallback<ListingExtraAttributes> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getListingExtraValidateBeforeCall(id, apiKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ListingExtraAttributes>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getListingMedia
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getListingMediaCall(String id, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/listing/{id}/media"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getListingMediaValidateBeforeCall(String id, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getListingMedia(Async)");
        }
        

        com.squareup.okhttp.Call call = getListingMediaCall(id, apiKey, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Listing media by id
     * Get listing media (photo, photos) by id
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return ListingMedia
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ListingMedia getListingMedia(String id, String apiKey) throws ApiException {
        ApiResponse<ListingMedia> resp = getListingMediaWithHttpInfo(id, apiKey);
        return resp.getData();
    }

    /**
     * Listing media by id
     * Get listing media (photo, photos) by id
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return ApiResponse&lt;ListingMedia&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ListingMedia> getListingMediaWithHttpInfo(String id, String apiKey) throws ApiException {
        com.squareup.okhttp.Call call = getListingMediaValidateBeforeCall(id, apiKey, null, null);
        Type localVarReturnType = new TypeToken<ListingMedia>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Listing media by id (asynchronously)
     * Get listing media (photo, photos) by id
     * @param id Listing id to get all the listing attributes (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getListingMediaAsync(String id, String apiKey, final ApiCallback<ListingMedia> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getListingMediaValidateBeforeCall(id, apiKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ListingMedia>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getListingVDP
     * @param id Listing id to get the vehicle details page (VDP) HTML (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param html Get only HTML for given listings VDP page (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getListingVDPCall(String id, String apiKey, String html, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/listing/{id}/vdp"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));
        if (html != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("html", html));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getListingVDPValidateBeforeCall(String id, String apiKey, String html, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getListingVDP(Async)");
        }
        

        com.squareup.okhttp.Call call = getListingVDPCall(id, apiKey, html, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get listing HTML
     * Cached HTML of the Vehicle Details Page (VDP) for the listing. The HTML is cached only for 7 days for all listings. So this API could be used to get HTML of mostly active listings and that have recently expired
     * @param id Listing id to get the vehicle details page (VDP) HTML (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param html Get only HTML for given listings VDP page (optional)
     * @return ListingVDP
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ListingVDP getListingVDP(String id, String apiKey, String html) throws ApiException {
        ApiResponse<ListingVDP> resp = getListingVDPWithHttpInfo(id, apiKey, html);
        return resp.getData();
    }

    /**
     * Get listing HTML
     * Cached HTML of the Vehicle Details Page (VDP) for the listing. The HTML is cached only for 7 days for all listings. So this API could be used to get HTML of mostly active listings and that have recently expired
     * @param id Listing id to get the vehicle details page (VDP) HTML (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param html Get only HTML for given listings VDP page (optional)
     * @return ApiResponse&lt;ListingVDP&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ListingVDP> getListingVDPWithHttpInfo(String id, String apiKey, String html) throws ApiException {
        com.squareup.okhttp.Call call = getListingVDPValidateBeforeCall(id, apiKey, html, null, null);
        Type localVarReturnType = new TypeToken<ListingVDP>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get listing HTML (asynchronously)
     * Cached HTML of the Vehicle Details Page (VDP) for the listing. The HTML is cached only for 7 days for all listings. So this API could be used to get HTML of mostly active listings and that have recently expired
     * @param id Listing id to get the vehicle details page (VDP) HTML (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param html Get only HTML for given listings VDP page (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getListingVDPAsync(String id, String apiKey, String html, final ApiCallback<ListingVDP> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getListingVDPValidateBeforeCall(id, apiKey, html, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ListingVDP>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getSummaryReport
     * @param vin VIN as a reference to the type of car for which Summary data is to be returned (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getSummaryReportCall(String vin, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/vin_report_summary";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));
        if (vin != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vin", vin));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getSummaryReportValidateBeforeCall(String vin, String apiKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'vin' is set
        if (vin == null) {
            throw new ApiException("Missing the required parameter 'vin' when calling getSummaryReport(Async)");
        }
        

        com.squareup.okhttp.Call call = getSummaryReportCall(vin, apiKey, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get Summary Report
     * [MOCK] Generate Summary report
     * @param vin VIN as a reference to the type of car for which Summary data is to be returned (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return List&lt;VinReport&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<VinReport> getSummaryReport(String vin, String apiKey) throws ApiException {
        ApiResponse<List<VinReport>> resp = getSummaryReportWithHttpInfo(vin, apiKey);
        return resp.getData();
    }

    /**
     * Get Summary Report
     * [MOCK] Generate Summary report
     * @param vin VIN as a reference to the type of car for which Summary data is to be returned (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @return ApiResponse&lt;List&lt;VinReport&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<VinReport>> getSummaryReportWithHttpInfo(String vin, String apiKey) throws ApiException {
        com.squareup.okhttp.Call call = getSummaryReportValidateBeforeCall(vin, apiKey, null, null);
        Type localVarReturnType = new TypeToken<List<VinReport>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Summary Report (asynchronously)
     * [MOCK] Generate Summary report
     * @param vin VIN as a reference to the type of car for which Summary data is to be returned (required)
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSummaryReportAsync(String vin, String apiKey, final ApiCallback<List<VinReport>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSummaryReportValidateBeforeCall(vin, apiKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<VinReport>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for search
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param latitude Latitude component of location (optional)
     * @param longitude Longitude component of location (optional)
     * @param radius Radius around the search location (optional)
     * @param carType Car type. Allowed values are - new / used / certified (optional)
     * @param sellerType Seller type to filter cars on. Valid filter values are those that our Search facets API returns for unique seller types. You can pass in multiple seller type values comma separated. (optional)
     * @param year Car year - 1980 onwards. Valid filter values are those that our Search facets API returns for unique years. You can pass in multiple year values comma separated. (optional)
     * @param make Car Make - should be a standard OEM Make name. Valid filter values are those that our Search facets API returns for unique make. You can pass in multiple make values separated by comma. e.g. ford,audi (optional)
     * @param model Car model to search. Valid filter values are those that our Search facets API returns for unique model. You can pass in multiple model values comma separated for e.g f-150,Mustang. (optional)
     * @param trim Car trim to search. Valid filter values are those that our Search facets API returns for unique trim. You can pass in multiple trim values comma separated (optional)
     * @param dealerId Dealer id to filter the cars. (optional)
     * @param vin Car vin to search (optional)
     * @param source Source to search cars. Valid filter values are those that our Search facets API returns for unique source. You can pass in multiple source values comma separated (optional)
     * @param bodyType Body type to filter the cars on. Valid filter values are those that our Search facets API returns for unique body types. You can pass in multiple body types comma separated. (optional)
     * @param bodySubtype Body subtype to filter the cars on. Valid filter values are those that our Search facets API returns for unique body subtypes. You can pass in multiple body subtype values comma separated (optional)
     * @param vehicleType Vehicle type to filter the cars on. Valid filter values are those that our Search facets API returns for unique vehicle types. You can pass in multiple vehicle type values comma separated (optional)
     * @param vins Comma separated list of 17 digit vins to search the matching cars for. Only 10 VINs allowed per request. If the request contains more than 10 VINs the first 10 VINs will be considered. Could be used as a More Like This or Similar Vehicles search for the given VINs. Ths vins parameter is an alternative to taxonomy_vins or ymmt parameters available with the search API. vins and taxonomy_vins parameters could be used to filter our cars with the exact build represented by the vins or taxonomy_vins whereas ymmt is a top level filter that does not filter cars by the build attributes like doors, drivetrain, cylinders, body type, body subtype, vehicle type etc (optional)
     * @param taxonomyVins Comma separated list of 10 letters excert from the 17 letter VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8 letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182 the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build of a car and could be used to filter our cars of a particular build. This is an alternative to the vin or ymmt parameters to the search API. (optional)
     * @param ymmt Comma separated list of Year, Make, Model, Trim combinations. Each combination needs to have the year,make,model, trim values separated by a pipe &#39;|&#39; character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S 6MT,|Honda|City|   You could just provide strings of the form - &#39;year|make||&#39; or &#39;year|make|model&#39; or &#39;|make|model|&#39; combinations. Individual year / make / model filters provied with the API calls will take precedence over the Year, Make, Model, Trim combinations. The Make, Model, Trim values must be valid values as per the Marketcheck Vin Decoder. If you are using a separate vin decoder then look at using the &#39;vins&#39; or &#39;taxonomy_vins&#39; parameter to the search api instead the year|make|model|trim combinations. (optional)
     * @param match Comma separated list of Year, Make, Model, Trim fields. For example - year,make,model,trim fields for which user wants to do an exact match (optional)
     * @param cylinders Cylinders to filter the cars on. Valid filter values are those that our Search facets API returns for unique cylinder values. You can pass in multiple cylinder values comma separated (optional)
     * @param transmission Transmission to filter the cars on. [a &#x3D; Automatic, m &#x3D; Manual]. Valid filter values are those that our Search facets API returns for unique transmission. You can pass in multiple transmission values comma separated (optional)
     * @param speeds Speeds to filter the cars on. Valid filter values are those that our Search facets API returns for unique speeds. You can pass in multiple speeds values comma separated (optional)
     * @param doors Doors to filter the cars on. Valid filter values are those that our Search facets API returns for unique doors. You can pass in multiple doors values comma separated (optional)
     * @param drivetrain Drivetrain to filter the cars on. Valid filter values are those that our Search facets API returns for unique drivetrains. You can pass in multiple drivetrain values comma separated (optional)
     * @param exteriorColor Exterior color to match. Valid filter values are those that our Search facets API returns for unique exterior colors. You can pass in multiple exterior color values comma separated (optional)
     * @param interiorColor Interior color to match. Valid filter values are those that our Search facets API returns for unique interior colors. You can pass in multiple interior color values comma separated (optional)
     * @param engine Filter listings on engine (optional)
     * @param engineType Engine Type to match. Valid filter values are those that our Search facets API returns for unique engine types. You can pass in multiple engine type values comma separated (optional)
     * @param engineAspiration Engine Aspiration to match. Valid filter values are those that our Search facets API returns for unique Engine Aspirations. You can pass in multiple Engine aspirations values comma separated (optional)
     * @param engineBlock Engine Block to match. Valid filter values are those that our Search facets API returns for unique Engine Block. You can pass in multiple Engine Block values comma separated (optional)
     * @param milesRange Miles range to filter cars with miles in the given range. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param priceRange Price range to filter cars with the price in the range given. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param domRange Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param sortBy Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year. Default sort field is distance from the given point (optional)
     * @param sortOrder Sort order - asc or desc. Default sort order is distance from a point. (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows (optional)
     * @param facets The comma separated list of fields for which facets are requested. Supported fields are - year, make, model, trim, vehicle_type, car_type, body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color, interior_color, doors, engine_type, engine_aspiration, engine_block. Facets could be requested in addition to the listings for the search. Please note - The API calls with lots of facet fields may take longer to respond. (optional)
     * @param stats The list of fields for which stats need to be generated based on the matching listings for the search criteria. Allowed fields are - price, miles, msrp, dom The stats consists of mean, max, average and count of listings based on which the stats are calculated for the field. Stats could be requested in addition to the listings for the search. Please note - The API calls with the stats fields may take longer to respond. (optional)
     * @param country Filter on Country, by default US. Search available on US (United States) and CA (Canada) (optional)
     * @param plot If plot has value true results in around 25k coordinates with limited fields to plot respective graph (optional)
     * @param nodedup If nodedup is set to true then will give results using is_searchable (optional)
     * @param state Filter listsings on State (optional)
     * @param city Filter listings on city (optional)
     * @param dealerName Filter listings on dealer_name (optional)
     * @param trimO Filter listings on web scraped trim (optional)
     * @param trimR Filter trim on custom possible matches (optional)
     * @param domActiveRange Active Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param dom180Range Last 180 Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param options Tokenizer search on options for multiple options use | as seperator (optional)
     * @param features Tokenizer search on features for multiple options use | as seperator (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchCall(String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apiKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("api_key", apiKey));
        if (latitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("latitude", latitude));
        if (longitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("longitude", longitude));
        if (radius != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("radius", radius));
        if (carType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("car_type", carType));
        if (sellerType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("seller_type", sellerType));
        if (year != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("year", year));
        if (make != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("make", make));
        if (model != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("model", model));
        if (trim != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("trim", trim));
        if (dealerId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dealer_id", dealerId));
        if (vin != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vin", vin));
        if (source != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("source", source));
        if (bodyType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("body_type", bodyType));
        if (bodySubtype != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("body_subtype", bodySubtype));
        if (vehicleType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vehicle_type", vehicleType));
        if (vins != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vins", vins));
        if (taxonomyVins != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("taxonomy_vins", taxonomyVins));
        if (ymmt != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ymmt", ymmt));
        if (match != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("match", match));
        if (cylinders != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("cylinders", cylinders));
        if (transmission != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("transmission", transmission));
        if (speeds != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("speeds", speeds));
        if (doors != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("doors", doors));
        if (drivetrain != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("drivetrain", drivetrain));
        if (exteriorColor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("exterior_color", exteriorColor));
        if (interiorColor != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("interior_color", interiorColor));
        if (engine != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("engine", engine));
        if (engineType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("engine_type", engineType));
        if (engineAspiration != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("engine_aspiration", engineAspiration));
        if (engineBlock != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("engine_block", engineBlock));
        if (milesRange != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("miles_range", milesRange));
        if (priceRange != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("price_range", priceRange));
        if (domRange != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dom_range", domRange));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_by", sortBy));
        if (sortOrder != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sort_order", sortOrder));
        if (rows != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rows", rows));
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
        if (facets != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("facets", facets));
        if (stats != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("stats", stats));
        if (country != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("country", country));
        if (plot != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("plot", plot));
        if (nodedup != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nodedup", nodedup));
        if (state != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("state", state));
        if (city != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("city", city));
        if (dealerName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dealer_name", dealerName));
        if (trimO != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("trim_o", trimO));
        if (trimR != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("trim_r", trimR));
        if (domActiveRange != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dom_active_range", domActiveRange));
        if (dom180Range != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dom_180_range", dom180Range));
        if (options != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("options", options));
        if (features != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("features", features));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchValidateBeforeCall(String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = searchCall(apiKey, latitude, longitude, radius, carType, sellerType, year, make, model, trim, dealerId, vin, source, bodyType, bodySubtype, vehicleType, vins, taxonomyVins, ymmt, match, cylinders, transmission, speeds, doors, drivetrain, exteriorColor, interiorColor, engine, engineType, engineAspiration, engineBlock, milesRange, priceRange, domRange, sortBy, sortOrder, rows, start, facets, stats, country, plot, nodedup, state, city, dealerName, trimO, trimR, domActiveRange, dom180Range, options, features, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets active car listings for the given search criteria
     * This endpoint is the meat of the API and serves many purposes. This API produces a list of currently active cars from the market for the given search criteria. The API results are limited to allow pagination upto 1000 rows.   The search API facilitates the following use cases -  1. Search Cars around a given geo-point within a given radius  2. Search cars for a specific year / make / model or combination of these  3. Search cars matching multiple year, make, model combinatins in the same search request 4. Filter results by most car specification attributes 5. Search for similar cars by VIN or Taxonomy VIN  6. Filter cars within a given price / miles / days on market (dom) range 7. Specify a sort order for the results on price / miles / dom / listed date  8. Search cars for a given City / State combination  9. Get Facets to build the search drill downs  10. Get Market averages for price/miles/dom/msrp for your search
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param latitude Latitude component of location (optional)
     * @param longitude Longitude component of location (optional)
     * @param radius Radius around the search location (optional)
     * @param carType Car type. Allowed values are - new / used / certified (optional)
     * @param sellerType Seller type to filter cars on. Valid filter values are those that our Search facets API returns for unique seller types. You can pass in multiple seller type values comma separated. (optional)
     * @param year Car year - 1980 onwards. Valid filter values are those that our Search facets API returns for unique years. You can pass in multiple year values comma separated. (optional)
     * @param make Car Make - should be a standard OEM Make name. Valid filter values are those that our Search facets API returns for unique make. You can pass in multiple make values separated by comma. e.g. ford,audi (optional)
     * @param model Car model to search. Valid filter values are those that our Search facets API returns for unique model. You can pass in multiple model values comma separated for e.g f-150,Mustang. (optional)
     * @param trim Car trim to search. Valid filter values are those that our Search facets API returns for unique trim. You can pass in multiple trim values comma separated (optional)
     * @param dealerId Dealer id to filter the cars. (optional)
     * @param vin Car vin to search (optional)
     * @param source Source to search cars. Valid filter values are those that our Search facets API returns for unique source. You can pass in multiple source values comma separated (optional)
     * @param bodyType Body type to filter the cars on. Valid filter values are those that our Search facets API returns for unique body types. You can pass in multiple body types comma separated. (optional)
     * @param bodySubtype Body subtype to filter the cars on. Valid filter values are those that our Search facets API returns for unique body subtypes. You can pass in multiple body subtype values comma separated (optional)
     * @param vehicleType Vehicle type to filter the cars on. Valid filter values are those that our Search facets API returns for unique vehicle types. You can pass in multiple vehicle type values comma separated (optional)
     * @param vins Comma separated list of 17 digit vins to search the matching cars for. Only 10 VINs allowed per request. If the request contains more than 10 VINs the first 10 VINs will be considered. Could be used as a More Like This or Similar Vehicles search for the given VINs. Ths vins parameter is an alternative to taxonomy_vins or ymmt parameters available with the search API. vins and taxonomy_vins parameters could be used to filter our cars with the exact build represented by the vins or taxonomy_vins whereas ymmt is a top level filter that does not filter cars by the build attributes like doors, drivetrain, cylinders, body type, body subtype, vehicle type etc (optional)
     * @param taxonomyVins Comma separated list of 10 letters excert from the 17 letter VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8 letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182 the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build of a car and could be used to filter our cars of a particular build. This is an alternative to the vin or ymmt parameters to the search API. (optional)
     * @param ymmt Comma separated list of Year, Make, Model, Trim combinations. Each combination needs to have the year,make,model, trim values separated by a pipe &#39;|&#39; character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S 6MT,|Honda|City|   You could just provide strings of the form - &#39;year|make||&#39; or &#39;year|make|model&#39; or &#39;|make|model|&#39; combinations. Individual year / make / model filters provied with the API calls will take precedence over the Year, Make, Model, Trim combinations. The Make, Model, Trim values must be valid values as per the Marketcheck Vin Decoder. If you are using a separate vin decoder then look at using the &#39;vins&#39; or &#39;taxonomy_vins&#39; parameter to the search api instead the year|make|model|trim combinations. (optional)
     * @param match Comma separated list of Year, Make, Model, Trim fields. For example - year,make,model,trim fields for which user wants to do an exact match (optional)
     * @param cylinders Cylinders to filter the cars on. Valid filter values are those that our Search facets API returns for unique cylinder values. You can pass in multiple cylinder values comma separated (optional)
     * @param transmission Transmission to filter the cars on. [a &#x3D; Automatic, m &#x3D; Manual]. Valid filter values are those that our Search facets API returns for unique transmission. You can pass in multiple transmission values comma separated (optional)
     * @param speeds Speeds to filter the cars on. Valid filter values are those that our Search facets API returns for unique speeds. You can pass in multiple speeds values comma separated (optional)
     * @param doors Doors to filter the cars on. Valid filter values are those that our Search facets API returns for unique doors. You can pass in multiple doors values comma separated (optional)
     * @param drivetrain Drivetrain to filter the cars on. Valid filter values are those that our Search facets API returns for unique drivetrains. You can pass in multiple drivetrain values comma separated (optional)
     * @param exteriorColor Exterior color to match. Valid filter values are those that our Search facets API returns for unique exterior colors. You can pass in multiple exterior color values comma separated (optional)
     * @param interiorColor Interior color to match. Valid filter values are those that our Search facets API returns for unique interior colors. You can pass in multiple interior color values comma separated (optional)
     * @param engine Filter listings on engine (optional)
     * @param engineType Engine Type to match. Valid filter values are those that our Search facets API returns for unique engine types. You can pass in multiple engine type values comma separated (optional)
     * @param engineAspiration Engine Aspiration to match. Valid filter values are those that our Search facets API returns for unique Engine Aspirations. You can pass in multiple Engine aspirations values comma separated (optional)
     * @param engineBlock Engine Block to match. Valid filter values are those that our Search facets API returns for unique Engine Block. You can pass in multiple Engine Block values comma separated (optional)
     * @param milesRange Miles range to filter cars with miles in the given range. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param priceRange Price range to filter cars with the price in the range given. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param domRange Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param sortBy Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year. Default sort field is distance from the given point (optional)
     * @param sortOrder Sort order - asc or desc. Default sort order is distance from a point. (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows (optional)
     * @param facets The comma separated list of fields for which facets are requested. Supported fields are - year, make, model, trim, vehicle_type, car_type, body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color, interior_color, doors, engine_type, engine_aspiration, engine_block. Facets could be requested in addition to the listings for the search. Please note - The API calls with lots of facet fields may take longer to respond. (optional)
     * @param stats The list of fields for which stats need to be generated based on the matching listings for the search criteria. Allowed fields are - price, miles, msrp, dom The stats consists of mean, max, average and count of listings based on which the stats are calculated for the field. Stats could be requested in addition to the listings for the search. Please note - The API calls with the stats fields may take longer to respond. (optional)
     * @param country Filter on Country, by default US. Search available on US (United States) and CA (Canada) (optional)
     * @param plot If plot has value true results in around 25k coordinates with limited fields to plot respective graph (optional)
     * @param nodedup If nodedup is set to true then will give results using is_searchable (optional)
     * @param state Filter listsings on State (optional)
     * @param city Filter listings on city (optional)
     * @param dealerName Filter listings on dealer_name (optional)
     * @param trimO Filter listings on web scraped trim (optional)
     * @param trimR Filter trim on custom possible matches (optional)
     * @param domActiveRange Active Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param dom180Range Last 180 Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param options Tokenizer search on options for multiple options use | as seperator (optional)
     * @param features Tokenizer search on features for multiple options use | as seperator (optional)
     * @return SearchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SearchResponse search(String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features) throws ApiException {
        ApiResponse<SearchResponse> resp = searchWithHttpInfo(apiKey, latitude, longitude, radius, carType, sellerType, year, make, model, trim, dealerId, vin, source, bodyType, bodySubtype, vehicleType, vins, taxonomyVins, ymmt, match, cylinders, transmission, speeds, doors, drivetrain, exteriorColor, interiorColor, engine, engineType, engineAspiration, engineBlock, milesRange, priceRange, domRange, sortBy, sortOrder, rows, start, facets, stats, country, plot, nodedup, state, city, dealerName, trimO, trimR, domActiveRange, dom180Range, options, features);
        return resp.getData();
    }

    /**
     * Gets active car listings for the given search criteria
     * This endpoint is the meat of the API and serves many purposes. This API produces a list of currently active cars from the market for the given search criteria. The API results are limited to allow pagination upto 1000 rows.   The search API facilitates the following use cases -  1. Search Cars around a given geo-point within a given radius  2. Search cars for a specific year / make / model or combination of these  3. Search cars matching multiple year, make, model combinatins in the same search request 4. Filter results by most car specification attributes 5. Search for similar cars by VIN or Taxonomy VIN  6. Filter cars within a given price / miles / days on market (dom) range 7. Specify a sort order for the results on price / miles / dom / listed date  8. Search cars for a given City / State combination  9. Get Facets to build the search drill downs  10. Get Market averages for price/miles/dom/msrp for your search
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param latitude Latitude component of location (optional)
     * @param longitude Longitude component of location (optional)
     * @param radius Radius around the search location (optional)
     * @param carType Car type. Allowed values are - new / used / certified (optional)
     * @param sellerType Seller type to filter cars on. Valid filter values are those that our Search facets API returns for unique seller types. You can pass in multiple seller type values comma separated. (optional)
     * @param year Car year - 1980 onwards. Valid filter values are those that our Search facets API returns for unique years. You can pass in multiple year values comma separated. (optional)
     * @param make Car Make - should be a standard OEM Make name. Valid filter values are those that our Search facets API returns for unique make. You can pass in multiple make values separated by comma. e.g. ford,audi (optional)
     * @param model Car model to search. Valid filter values are those that our Search facets API returns for unique model. You can pass in multiple model values comma separated for e.g f-150,Mustang. (optional)
     * @param trim Car trim to search. Valid filter values are those that our Search facets API returns for unique trim. You can pass in multiple trim values comma separated (optional)
     * @param dealerId Dealer id to filter the cars. (optional)
     * @param vin Car vin to search (optional)
     * @param source Source to search cars. Valid filter values are those that our Search facets API returns for unique source. You can pass in multiple source values comma separated (optional)
     * @param bodyType Body type to filter the cars on. Valid filter values are those that our Search facets API returns for unique body types. You can pass in multiple body types comma separated. (optional)
     * @param bodySubtype Body subtype to filter the cars on. Valid filter values are those that our Search facets API returns for unique body subtypes. You can pass in multiple body subtype values comma separated (optional)
     * @param vehicleType Vehicle type to filter the cars on. Valid filter values are those that our Search facets API returns for unique vehicle types. You can pass in multiple vehicle type values comma separated (optional)
     * @param vins Comma separated list of 17 digit vins to search the matching cars for. Only 10 VINs allowed per request. If the request contains more than 10 VINs the first 10 VINs will be considered. Could be used as a More Like This or Similar Vehicles search for the given VINs. Ths vins parameter is an alternative to taxonomy_vins or ymmt parameters available with the search API. vins and taxonomy_vins parameters could be used to filter our cars with the exact build represented by the vins or taxonomy_vins whereas ymmt is a top level filter that does not filter cars by the build attributes like doors, drivetrain, cylinders, body type, body subtype, vehicle type etc (optional)
     * @param taxonomyVins Comma separated list of 10 letters excert from the 17 letter VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8 letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182 the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build of a car and could be used to filter our cars of a particular build. This is an alternative to the vin or ymmt parameters to the search API. (optional)
     * @param ymmt Comma separated list of Year, Make, Model, Trim combinations. Each combination needs to have the year,make,model, trim values separated by a pipe &#39;|&#39; character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S 6MT,|Honda|City|   You could just provide strings of the form - &#39;year|make||&#39; or &#39;year|make|model&#39; or &#39;|make|model|&#39; combinations. Individual year / make / model filters provied with the API calls will take precedence over the Year, Make, Model, Trim combinations. The Make, Model, Trim values must be valid values as per the Marketcheck Vin Decoder. If you are using a separate vin decoder then look at using the &#39;vins&#39; or &#39;taxonomy_vins&#39; parameter to the search api instead the year|make|model|trim combinations. (optional)
     * @param match Comma separated list of Year, Make, Model, Trim fields. For example - year,make,model,trim fields for which user wants to do an exact match (optional)
     * @param cylinders Cylinders to filter the cars on. Valid filter values are those that our Search facets API returns for unique cylinder values. You can pass in multiple cylinder values comma separated (optional)
     * @param transmission Transmission to filter the cars on. [a &#x3D; Automatic, m &#x3D; Manual]. Valid filter values are those that our Search facets API returns for unique transmission. You can pass in multiple transmission values comma separated (optional)
     * @param speeds Speeds to filter the cars on. Valid filter values are those that our Search facets API returns for unique speeds. You can pass in multiple speeds values comma separated (optional)
     * @param doors Doors to filter the cars on. Valid filter values are those that our Search facets API returns for unique doors. You can pass in multiple doors values comma separated (optional)
     * @param drivetrain Drivetrain to filter the cars on. Valid filter values are those that our Search facets API returns for unique drivetrains. You can pass in multiple drivetrain values comma separated (optional)
     * @param exteriorColor Exterior color to match. Valid filter values are those that our Search facets API returns for unique exterior colors. You can pass in multiple exterior color values comma separated (optional)
     * @param interiorColor Interior color to match. Valid filter values are those that our Search facets API returns for unique interior colors. You can pass in multiple interior color values comma separated (optional)
     * @param engine Filter listings on engine (optional)
     * @param engineType Engine Type to match. Valid filter values are those that our Search facets API returns for unique engine types. You can pass in multiple engine type values comma separated (optional)
     * @param engineAspiration Engine Aspiration to match. Valid filter values are those that our Search facets API returns for unique Engine Aspirations. You can pass in multiple Engine aspirations values comma separated (optional)
     * @param engineBlock Engine Block to match. Valid filter values are those that our Search facets API returns for unique Engine Block. You can pass in multiple Engine Block values comma separated (optional)
     * @param milesRange Miles range to filter cars with miles in the given range. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param priceRange Price range to filter cars with the price in the range given. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param domRange Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param sortBy Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year. Default sort field is distance from the given point (optional)
     * @param sortOrder Sort order - asc or desc. Default sort order is distance from a point. (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows (optional)
     * @param facets The comma separated list of fields for which facets are requested. Supported fields are - year, make, model, trim, vehicle_type, car_type, body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color, interior_color, doors, engine_type, engine_aspiration, engine_block. Facets could be requested in addition to the listings for the search. Please note - The API calls with lots of facet fields may take longer to respond. (optional)
     * @param stats The list of fields for which stats need to be generated based on the matching listings for the search criteria. Allowed fields are - price, miles, msrp, dom The stats consists of mean, max, average and count of listings based on which the stats are calculated for the field. Stats could be requested in addition to the listings for the search. Please note - The API calls with the stats fields may take longer to respond. (optional)
     * @param country Filter on Country, by default US. Search available on US (United States) and CA (Canada) (optional)
     * @param plot If plot has value true results in around 25k coordinates with limited fields to plot respective graph (optional)
     * @param nodedup If nodedup is set to true then will give results using is_searchable (optional)
     * @param state Filter listsings on State (optional)
     * @param city Filter listings on city (optional)
     * @param dealerName Filter listings on dealer_name (optional)
     * @param trimO Filter listings on web scraped trim (optional)
     * @param trimR Filter trim on custom possible matches (optional)
     * @param domActiveRange Active Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param dom180Range Last 180 Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param options Tokenizer search on options for multiple options use | as seperator (optional)
     * @param features Tokenizer search on features for multiple options use | as seperator (optional)
     * @return ApiResponse&lt;SearchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SearchResponse> searchWithHttpInfo(String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features) throws ApiException {
        com.squareup.okhttp.Call call = searchValidateBeforeCall(apiKey, latitude, longitude, radius, carType, sellerType, year, make, model, trim, dealerId, vin, source, bodyType, bodySubtype, vehicleType, vins, taxonomyVins, ymmt, match, cylinders, transmission, speeds, doors, drivetrain, exteriorColor, interiorColor, engine, engineType, engineAspiration, engineBlock, milesRange, priceRange, domRange, sortBy, sortOrder, rows, start, facets, stats, country, plot, nodedup, state, city, dealerName, trimO, trimR, domActiveRange, dom180Range, options, features, null, null);
        Type localVarReturnType = new TypeToken<SearchResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets active car listings for the given search criteria (asynchronously)
     * This endpoint is the meat of the API and serves many purposes. This API produces a list of currently active cars from the market for the given search criteria. The API results are limited to allow pagination upto 1000 rows.   The search API facilitates the following use cases -  1. Search Cars around a given geo-point within a given radius  2. Search cars for a specific year / make / model or combination of these  3. Search cars matching multiple year, make, model combinatins in the same search request 4. Filter results by most car specification attributes 5. Search for similar cars by VIN or Taxonomy VIN  6. Filter cars within a given price / miles / days on market (dom) range 7. Specify a sort order for the results on price / miles / dom / listed date  8. Search cars for a given City / State combination  9. Get Facets to build the search drill downs  10. Get Market averages for price/miles/dom/msrp for your search
     * @param apiKey The API Authentication Key. Mandatory with all API calls. (optional)
     * @param latitude Latitude component of location (optional)
     * @param longitude Longitude component of location (optional)
     * @param radius Radius around the search location (optional)
     * @param carType Car type. Allowed values are - new / used / certified (optional)
     * @param sellerType Seller type to filter cars on. Valid filter values are those that our Search facets API returns for unique seller types. You can pass in multiple seller type values comma separated. (optional)
     * @param year Car year - 1980 onwards. Valid filter values are those that our Search facets API returns for unique years. You can pass in multiple year values comma separated. (optional)
     * @param make Car Make - should be a standard OEM Make name. Valid filter values are those that our Search facets API returns for unique make. You can pass in multiple make values separated by comma. e.g. ford,audi (optional)
     * @param model Car model to search. Valid filter values are those that our Search facets API returns for unique model. You can pass in multiple model values comma separated for e.g f-150,Mustang. (optional)
     * @param trim Car trim to search. Valid filter values are those that our Search facets API returns for unique trim. You can pass in multiple trim values comma separated (optional)
     * @param dealerId Dealer id to filter the cars. (optional)
     * @param vin Car vin to search (optional)
     * @param source Source to search cars. Valid filter values are those that our Search facets API returns for unique source. You can pass in multiple source values comma separated (optional)
     * @param bodyType Body type to filter the cars on. Valid filter values are those that our Search facets API returns for unique body types. You can pass in multiple body types comma separated. (optional)
     * @param bodySubtype Body subtype to filter the cars on. Valid filter values are those that our Search facets API returns for unique body subtypes. You can pass in multiple body subtype values comma separated (optional)
     * @param vehicleType Vehicle type to filter the cars on. Valid filter values are those that our Search facets API returns for unique vehicle types. You can pass in multiple vehicle type values comma separated (optional)
     * @param vins Comma separated list of 17 digit vins to search the matching cars for. Only 10 VINs allowed per request. If the request contains more than 10 VINs the first 10 VINs will be considered. Could be used as a More Like This or Similar Vehicles search for the given VINs. Ths vins parameter is an alternative to taxonomy_vins or ymmt parameters available with the search API. vins and taxonomy_vins parameters could be used to filter our cars with the exact build represented by the vins or taxonomy_vins whereas ymmt is a top level filter that does not filter cars by the build attributes like doors, drivetrain, cylinders, body type, body subtype, vehicle type etc (optional)
     * @param taxonomyVins Comma separated list of 10 letters excert from the 17 letter VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8 letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182 the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build of a car and could be used to filter our cars of a particular build. This is an alternative to the vin or ymmt parameters to the search API. (optional)
     * @param ymmt Comma separated list of Year, Make, Model, Trim combinations. Each combination needs to have the year,make,model, trim values separated by a pipe &#39;|&#39; character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S 6MT,|Honda|City|   You could just provide strings of the form - &#39;year|make||&#39; or &#39;year|make|model&#39; or &#39;|make|model|&#39; combinations. Individual year / make / model filters provied with the API calls will take precedence over the Year, Make, Model, Trim combinations. The Make, Model, Trim values must be valid values as per the Marketcheck Vin Decoder. If you are using a separate vin decoder then look at using the &#39;vins&#39; or &#39;taxonomy_vins&#39; parameter to the search api instead the year|make|model|trim combinations. (optional)
     * @param match Comma separated list of Year, Make, Model, Trim fields. For example - year,make,model,trim fields for which user wants to do an exact match (optional)
     * @param cylinders Cylinders to filter the cars on. Valid filter values are those that our Search facets API returns for unique cylinder values. You can pass in multiple cylinder values comma separated (optional)
     * @param transmission Transmission to filter the cars on. [a &#x3D; Automatic, m &#x3D; Manual]. Valid filter values are those that our Search facets API returns for unique transmission. You can pass in multiple transmission values comma separated (optional)
     * @param speeds Speeds to filter the cars on. Valid filter values are those that our Search facets API returns for unique speeds. You can pass in multiple speeds values comma separated (optional)
     * @param doors Doors to filter the cars on. Valid filter values are those that our Search facets API returns for unique doors. You can pass in multiple doors values comma separated (optional)
     * @param drivetrain Drivetrain to filter the cars on. Valid filter values are those that our Search facets API returns for unique drivetrains. You can pass in multiple drivetrain values comma separated (optional)
     * @param exteriorColor Exterior color to match. Valid filter values are those that our Search facets API returns for unique exterior colors. You can pass in multiple exterior color values comma separated (optional)
     * @param interiorColor Interior color to match. Valid filter values are those that our Search facets API returns for unique interior colors. You can pass in multiple interior color values comma separated (optional)
     * @param engine Filter listings on engine (optional)
     * @param engineType Engine Type to match. Valid filter values are those that our Search facets API returns for unique engine types. You can pass in multiple engine type values comma separated (optional)
     * @param engineAspiration Engine Aspiration to match. Valid filter values are those that our Search facets API returns for unique Engine Aspirations. You can pass in multiple Engine aspirations values comma separated (optional)
     * @param engineBlock Engine Block to match. Valid filter values are those that our Search facets API returns for unique Engine Block. You can pass in multiple Engine Block values comma separated (optional)
     * @param milesRange Miles range to filter cars with miles in the given range. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param priceRange Price range to filter cars with the price in the range given. Range to be given in the format - min-max e.g. 1000-5000 (optional)
     * @param domRange Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param sortBy Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year. Default sort field is distance from the given point (optional)
     * @param sortOrder Sort order - asc or desc. Default sort order is distance from a point. (optional)
     * @param rows Number of results to return. Default is 10. Max is 50 (optional)
     * @param start Page number to fetch the results for the given criteria. Default is 1. Pagination is allowed only till first 1000 results for the search and sort criteria. The page value can be only between 1 to 1000/rows (optional)
     * @param facets The comma separated list of fields for which facets are requested. Supported fields are - year, make, model, trim, vehicle_type, car_type, body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color, interior_color, doors, engine_type, engine_aspiration, engine_block. Facets could be requested in addition to the listings for the search. Please note - The API calls with lots of facet fields may take longer to respond. (optional)
     * @param stats The list of fields for which stats need to be generated based on the matching listings for the search criteria. Allowed fields are - price, miles, msrp, dom The stats consists of mean, max, average and count of listings based on which the stats are calculated for the field. Stats could be requested in addition to the listings for the search. Please note - The API calls with the stats fields may take longer to respond. (optional)
     * @param country Filter on Country, by default US. Search available on US (United States) and CA (Canada) (optional)
     * @param plot If plot has value true results in around 25k coordinates with limited fields to plot respective graph (optional)
     * @param nodedup If nodedup is set to true then will give results using is_searchable (optional)
     * @param state Filter listsings on State (optional)
     * @param city Filter listings on city (optional)
     * @param dealerName Filter listings on dealer_name (optional)
     * @param trimO Filter listings on web scraped trim (optional)
     * @param trimR Filter trim on custom possible matches (optional)
     * @param domActiveRange Active Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param dom180Range Last 180 Days on Market range to filter cars with the DOM within the given range. Range to be given in the format - min-max e.g. 10-50 (optional)
     * @param options Tokenizer search on options for multiple options use | as seperator (optional)
     * @param features Tokenizer search on features for multiple options use | as seperator (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchAsync(String apiKey, Double latitude, Double longitude, Integer radius, String carType, String sellerType, String year, String make, String model, String trim, String dealerId, String vin, String source, String bodyType, String bodySubtype, String vehicleType, String vins, String taxonomyVins, String ymmt, String match, String cylinders, String transmission, String speeds, String doors, String drivetrain, String exteriorColor, String interiorColor, String engine, String engineType, String engineAspiration, String engineBlock, String milesRange, String priceRange, String domRange, String sortBy, String sortOrder, Integer rows, Integer start, String facets, String stats, String country, String plot, String nodedup, String state, String city, String dealerName, String trimO, String trimR, String domActiveRange, String dom180Range, String options, String features, final ApiCallback<SearchResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchValidateBeforeCall(apiKey, latitude, longitude, radius, carType, sellerType, year, make, model, trim, dealerId, vin, source, bodyType, bodySubtype, vehicleType, vins, taxonomyVins, ymmt, match, cylinders, transmission, speeds, doors, drivetrain, exteriorColor, interiorColor, engine, engineType, engineAspiration, engineBlock, milesRange, priceRange, domRange, sortBy, sortOrder, rows, start, facets, stats, country, plot, nodedup, state, city, dealerName, trimO, trimR, domActiveRange, dom180Range, options, features, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SearchResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
